.extra-margin-top{
  margin-top:$extrapixels;
}

.extra-margin-bottom{
  margin-bottom:$extrapixels;
}

.extra-margin-left{
  margin-left:$extrapixels;
}

.extra-margin-right{
  margin-right:$extrapixels;
}

.text-align-center{
  text-align:center;
}
